{erl_opts, [ debug_info
           , warn_missing_spec_all
           ]}.
{edoc_opts, [{dir, "edoc"}, {preprocess, true}]}.
{deps, [ jsx
       , iso8601
       , {eini, {git, "https://github.com/aws-beam/eini.git", {tag, "2.1.0"}}}
       ]}.

{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]}.

{ profiles
, [ { test
    , [ { deps
        , [meck]
        }
      ]
    }
  ]
}.

{xref_checks, [ undefined_function_calls
              , undefined_functions
              , locals_not_used
              , deprecated_function_calls
              , deprecated_functions
              ]}.
